* {
    margin: 0px;
    padding: 0px;


}

body {
    font-family: sans-serif;
    overflow-x:hidden;

}

body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(65, 194, 48);    
    border-radius: 20px;       
    border: 2px solid rgb(0, 0, 0);  
  }


h1 {
    font-weight: 800;
    font-size: 25px;
}

h3 {
    font-weight: 800;
    font-size: 25px;
}

#header-global {
    background-color: #000;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100vw;
    height: 200px;
}

.header-flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 50px;
    padding: 5px;
}

#logo-header {
    width: 100px;
    height: 28px;
}

.btn-backSite {
    width: 125px;
    height: 45px;

    border-radius: 5px;
    border: none;
    color: white;
    background-color: #272727;

}

header form {
    height: 50px;
    align-self: center;
}

#input-search {
    color: white;
    width: 400px;
    padding: 25px 30px 25px 30px;
    border: none;
    border-radius: 10px;
    background-color: #4e4e4e;
    outline: none;

}

#input-search::-webkit-input-placeholder {
    color: white;
    text-align: center;
}

#input-search:focus {
    color: rgb(0, 0, 0);
    width: 400px;

    background-color: #ffffff;


}

#body-content {
    display: flex;
    flex-direction: row;
    width: auto;
    
}

#side-bar {
    padding: 25px;
    width: 460px;
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;
    background-color: #f3fdfd;
    border-right: 1px solid rgba(214, 210, 210, 0.493);

}

#side-bar header {
    margin-top: 30px;

}


#side-bar span {
    display: flex;
    align-items: center;


}

#side-bar span::before {
    background-image: url("./assets/seta.svg");
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 30px;
    margin-right: 15px;
    width: 15px;
    height: 15px;


}

#btn-sobre {

    background-color: #476DA5;
    border: none;
    padding: 5px 15px 5px 15px;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;

    white-space: nowrap;

    font-weight: 500;
    color: white;
    border-radius: 2px;


}

#menu-side {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.titulo-medio {
    font-size: 15px;
    font-weight: 800;
}

#menu-side a,
li {
    list-style-type: none;
    color: #000000cc;
    font-size: 15px;

}

#menu-side a:hover {
    text-decoration: underline;
    color: #000000cc;

}

.area-artigo header {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.row-display {
    width: 100%;
    height: 1px;
    background-color: #dadada;

}

.content-artigo {
    display: flex;
    flex-flow: column nowrap;
    padding: 25px;
    width: 70vw;
    overflow: hidden;

    gap: 45px;
}

.descricao-premio {
    color: #4e4e4e;
    font-size: 15px;
    line-height: 25px;
}

.area-premio {
    display: flex;
    flex-flow: column nowrap;
}

.titulo-premio {
    font-weight: 600;
    font-size: 25px;
    color: #10da5e;
}

.img-premio {
    width: 450px;
    align-self: center;

}

.legenda-premio {
    color: rgb(66, 66, 66);
    font-size: 15px;
    font-weight: 700;

    text-align: center;
}

.titulo-artigo2 {
    font-size: 25px;
    font-weight: 700;
}

.banner-text {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 116, 0.534);
    border-left: 5px solid yellow;
    font-size: 14px;
    color: #302e2e;
    font-weight: 600;

}

.video-artigo {
    width: 100%;
    height: 600px;
}

@media (max-width: 900px) {
    #side-bar {
        display:none;
    }

    .video-artigo {
        height: 45vh;
    }

    #input-search {
        width: 100%;
    }

    #input-search:focus {
        width: 100%;

    }

    .content-artigo {
        width:90vw;
        padding: 5px;
    }


}